In [1]:
from pyspark.ml.feature import RegexTokenizer, HashingTF, IDF, CountVectorizer, Normalizer
from pyspark.sql.functions import col, udf
from pyspark.sql.types import IntegerType, DoubleType, StringType, StructType, StructField
from pyspark.sql import SparkSession
from pyspark.ml.feature import StopWordsRemover
from nltk.sentiment import SentimentIntensityAnalyzer
from pyspark.ml import Pipeline, PipelineModel
import pyspark

# Data Retrieval

In [2]:
data_file = r"/home/jovyan/repos/distributed-sentiment-analysis-on-twitter-data/twitter_data/*.csv"
vader_analyzer = SentimentIntensityAnalyzer()

In [3]:
conf = pyspark.SparkConf().setAll([('spark.executor.memory', '6g'),
                                   ('spark.driver.memory','6g'),
                                   ('spark.master', 'local[*]')])

# Initialize a Spark session
spark = SparkSession \
    .builder \
    .appName("SentimentAnalysis") \
    .config(conf=conf) \
    .getOrCreate()

sc = spark.sparkContext

In [4]:
sc.getConf().getAll()

[('spark.executor.memory', '6g'),
 ('spark.driver.host', 'de4f1c03e850'),
 ('spark.driver.memory', '6g'),
 ('spark.rdd.compress', 'True'),
 ('spark.serializer.objectStreamReset', '100'),
 ('spark.master', 'local[*]'),
 ('spark.executor.id', 'driver'),
 ('spark.submit.deployMode', 'client'),
 ('spark.driver.port', '35327'),
 ('spark.app.name', 'SentimentAnalysis'),
 ('spark.app.id', 'local-1524117988418'),
 ('spark.ui.showConsoleProgress', 'true')]

In [5]:
# define the data schema(format/structure) for our twitter data in the csv file
twitter_data_schema = StructType([StructField("date_str", StringType(), True),
                                  StructField("tweet_id", StringType(), True),
                                  StructField("text", StringType(), True),
                                  StructField("location", StringType(), True),
                                  StructField("user_id", StringType(), True),
                                  StructField("user_name", StringType(), True),
                                  StructField("user_location", StringType(), True),
                                  StructField("user_url", StringType(), True),
                                  StructField("user_description", StringType(), True),
                                  StructField("place_id", StringType(), True),
                                  StructField("place_url", StringType(), True),
                                  StructField("place_type", StringType(), True),
                                  StructField("place_countrycode", StringType(), True),
                                  StructField("place_country", StringType(), True),
                                  StructField("place_boundingboxtype", StringType(), True),
                                  StructField("entities_hashtags", StringType(), True),
                                  StructField("entities_urls", StringType(), True),
                                  StructField("entities_mentions", StringType(), True),
                                  StructField("entities_symbols", StringType(), True),
                                  StructField("entities_media", StringType(), True),
                                  StructField("entities_polls", StringType(), True),])

In [6]:
df_raw = spark.read.csv(
    data_file, schema=twitter_data_schema
)

In [7]:
text_and_loc_only = df_raw.select("text", "location")

In [8]:
text_and_loc_only.cache()

text_and_loc_only.count()

1593023

# Tweet Cleaning Function

In [9]:
import re
from bs4 import BeautifulSoup
from nltk.tokenize import WordPunctTokenizer
tok = WordPunctTokenizer()

at_user_pat = r'@[A-Za-z0-9_]+'  # r'@[\w]+'
url_pat = r'https?://[^ ]+'  # r'https?:\/\/[^\s]+'
www_pat = r'www.[^ ]+'
repeating_chars_pat = r'([A-Za-z])\1+'
negations_dic = {"isn't":"is not", "aren't":"are not", "wasn't":"was not", "weren't":"were not",
                "haven't":"have not","hasn't":"has not","hadn't":"had not","won't":"will not",
                "wouldn't":"would not", "don't":"do not", "doesn't":"does not","didn't":"did not",
                "can't":"can not","couldn't":"could not","shouldn't":"should not","mightn't":"might not",
                "mustn't":"must not"}
neg_pattern = re.compile(r'\b(' + '|'.join(negations_dic.keys()) + r')\b')

def tweet_cleaner(text):
    soup = BeautifulSoup(text, 'lxml')
    souped = soup.get_text()
    try:
        bom_removed = souped.decode("utf-8-sig").replace(u"\ufffd", "?")
    except:
        bom_removed = souped
    stripped = re.sub(at_user_pat, 'USERNAME', bom_removed)
    stripped = re.sub(url_pat, 'URL', stripped)
    stripped = re.sub(www_pat, 'URL', stripped)
    stripped = re.sub(repeating_chars_pat, r'\1\1', stripped)

    lower_case = stripped.lower()
    neg_handled = neg_pattern.sub(lambda x: negations_dic[x.group()], lower_case)
    letters_only = re.sub("[^a-zA-Z]", " ", neg_handled)
    # During the letters_only process two lines above, it has created unnecessay white spaces,
    # I will tokenize and join together to remove unneccessary white spaces
    words = [x for x in tok.tokenize(letters_only) if len(x) > 1]
    return (" ".join(words)).strip()

# Data Pre-Processing

In [10]:
df_filtered = text_and_loc_only.filter("location like '%,___'")
df_filtered.show(truncate=True)

+--------------------+----------------+
|                text|        location|
+--------------------+----------------+
|Walking to work t...|  Cincinnati, OH|
|Can you recommend...|      Medley, FL|
|Interested in a #...|     Warwick, RI|
|Desiigner an indu...|        Mesa, AZ|
|Thank you Jesus:f...|  Greensboro, NC|
|How do I deactiva...|       Xenia, OH|
|She a pussy hoe t...|Philadelphia, PA|
|Want to work at S...|      Mystic, CT|
|   USER_NAME Heemy76|Philadelphia, PA|
|I think I wanna m...|     Memphis, TN|
|If you're looking...|    Stamford, CT|
|We're #hiring! Cl...|       Sayre, PA|
|Can you recommend...|     Commack, NY|
|This #job might b...|     Augusta, ME|
|Interested in a #...|  Huntington, IN|
|Interested in a #...|     Massena, NY|
|We're #hiring! Cl...|      Laurel, MD|
|We're #hiring! Cl...|     Norwalk, CT|
|Want to work in #...|     Kittery, ME|
|We're looking for...|    Newburgh, NY|
+--------------------+----------------+
only showing top 20 rows

In [11]:
df_filtered.count()

960362

In [12]:
udf_tweet_cleaner = udf(tweet_cleaner)
df_preprocessed = df_filtered.withColumn("text", udf_tweet_cleaner(col("text")))
df_preprocessed.show(truncate=True)

+--------------------+----------------+
|                text|        location|
+--------------------+----------------+
|walking to work t...|  Cincinnati, OH|
|can you recommend...|      Medley, FL|
|interested in job...|     Warwick, RI|
|desiigner an indu...|        Mesa, AZ|
|thank you jesus f...|  Greensboro, NC|
|how do deactivate...|       Xenia, OH|
|she pussy hoe til...|Philadelphia, PA|
|want to work at s...|      Mystic, CT|
|     user name heemy|Philadelphia, PA|
|think wanna miss ...|     Memphis, TN|
|if you re looking...|    Stamford, CT|
|we re hiring clic...|       Sayre, PA|
|can you recommend...|     Commack, NY|
|this job might be...|     Augusta, ME|
|interested in job...|  Huntington, IN|
|interested in job...|     Massena, NY|
|we re hiring clic...|      Laurel, MD|
|we re hiring clic...|     Norwalk, CT|
|want to work in k...|     Kittery, ME|
|we re looking for...|    Newburgh, NY|
+--------------------+----------------+
only showing top 20 rows

In [13]:
df_preprocessed.cache()

df_preprocessed.count()

960362

In [14]:
def count(text):
    return 1

udf_count = udf(count)

In [45]:
MIN_TWEETS_COUNT = 1000

# Ranking Result of NLTK Analyzer

In [15]:
def nltk_prediction(text):
    result = vader_analyzer.polarity_scores(str(text))
    prediction = 1 if result['compound'] >= 0 else 0

    return prediction

udf_nltk_prediction = udf(nltk_prediction)

In [16]:
def nltk_score(text):
    result = vader_analyzer.polarity_scores(str(text))
    prediction = result['compound']

    return prediction

udf_nltk_score = udf(nltk_score)

In [17]:
df_scored = df_preprocessed.withColumn("prediction", udf_nltk_prediction(col("text")))
df_scored = df_scored.withColumn("score", udf_nltk_score(col("text")))
df_scored = df_scored.withColumn("count", udf_count(col("text")))

df_scored.cache()
df_scored.count()

960362

In [42]:
# Ranking by averaging 1/0 values
df_scored.groupBy('location').agg({'prediction': 'avg', 'count': 'sum'}).filter(col('sum(count)') > MIN_TWEETS_COUNT).sort('avg(prediction)', ascending=False).show(n=1000)

+--------------------+------------------+----------+
|            location|   avg(prediction)|sum(count)|
+--------------------+------------------+----------+
|      Pittsburgh, PA|0.8332270408163265|    3136.0|
|  Salt Lake City, UT|0.8275154004106776|    1461.0|
|        St Louis, MO|0.8236130867709816|    1406.0|
|         Wichita, KS|0.8215994531784006|    1463.0|
|           Plano, TX|0.8211446740858506|    1258.0|
|       Las Vegas, NV|0.8193859121011439|    4983.0|
|      Scottsdale, AZ|0.8137583892617449|    1192.0|
|   San Francisco, CA|0.8115262649937957|    7253.0|
|           Miami, FL|0.8093645484949833|    3588.0|
|       Manhattan, NY|0.8088080168776371|   22752.0|
|         Orlando, FL|0.8067542213883677|    2665.0|
|       Arlington, VA|0.8024464831804281|    1635.0|
|     Minneapolis, MN|0.8023743016759777|    2864.0|
|   Winston-Salem, NC|0.8020989505247377|    1334.0|
|          Queens, NY|0.8016814292148327|    6661.0|
|         Raleigh, NC| 0.800465580312604|    3007.0|
|           Omaha, NE|0.8002054442732409|    1947.0|
|     Kansas City, MO|0.8000904568068747|    2211.0|
|          Newark, NJ|0.7986918604651163|    1376.0|
|         Seattle, WA|0.7981651376146789|    5014.0|
|          Boston, MA|0.7969702567892112|    5413.0|
|           Tyler, TX|0.7964015151515151|    1056.0|
|       San Diego, CA|0.7957699933906147|    7565.0|
|        Paradise, NV|0.7946480511925538|    3438.0|
| Fort Lauderdale, FL|0.7933609958506224|    1205.0|
|       Lafayette, LA|0.7926490984743412|    1442.0|
|      Birmingham, AL|0.7920727745289149|    1539.0|
|      Enterprise, NV|0.7909090909090909|    1210.0|
|Colorado Springs, CO|0.7901060070671378|    1415.0|
|          Austin, TX|0.7885026737967914|    7480.0|
|       Charlotte, NC|0.7880650277557494|    5044.0|
|      Sacramento, CA|  0.78803202697008|    2373.0|
|       Ann Arbor, MI| 0.788027477919529|    1019.0|
|          Tucson, AZ|0.7879245283018868|    2650.0|
|        Honolulu, HI| 0.787828947368421|    2432.0|
|      Providence, RI|0.7872531418312387|    1114.0|
|          Irvine, CA|0.7868252516010978|    1093.0|
|      Louisville, KY|0.7866531850353893|    1978.0|
|         Anaheim, CA|0.7863157894736842|    1900.0|
|         Jackson, MS|0.7859988616960728|    1757.0|
|        Richmond, VA| 0.784965034965035|    2288.0|
|           Tulsa, OK|0.7840557275541795|    1292.0|
|         Lubbock, TX|0.7834577828834004|    1741.0|
|          Denver, CO| 0.782072964484175|    4139.0|
|     Los Angeles, CA| 0.781782331835666|   30937.0|
|          Denton, TX|0.7817351598173516|    2190.0|
|        Brooklyn, NY|0.7814945226917058|   10224.0|
|       Henderson, NV|0.7811012916383413|    1471.0|
|       Milwaukee, WI| 0.780114722753346|    2615.0|
|           Bronx, NY|0.7796112115732369|    4424.0|
|         Buffalo, NY|0.7794528196538246|    1791.0|
|       Knoxville, TN|0.7779642058165548|    1788.0|
|   St Petersburg, FL|0.7766798418972332|    1012.0|
|         St Paul, MN|0.7764034253092293|    1051.0|
|  Virginia Beach, VA|0.7760296159185562|    2161.0|
|            Reno, NV|0.7758734344100198|    1517.0|
|           Tampa, FL|0.7755424063116371|    2535.0|
|      Washington, DC|0.7753259779338014|   10967.0|
|   Oklahoma City, OK|0.7736351531291611|    3004.0|
|      Cincinnati, OH|0.7735936773593677|    2151.0|
|           Tempe, AZ|0.7733537519142419|    1959.0|
|        Columbus, OH|0.7732336334503281|    6553.0|
|     New Orleans, LA|0.7729152308752585|    5804.0|
|          Irving, TX|0.7725464190981433|    1508.0|
|      Tuscaloosa, AL|0.7724913494809689|    1156.0|
|      Long Beach, CA| 0.772156440617151|    2787.0|
|         Memphis, TN|0.7714541120381406|    3356.0|
| College Station, TX|0.7713498622589532|    1452.0|
|         Chicago, IL|0.7708786091276001|   16105.0|
|          Toledo, OH|0.7703101920236337|    1354.0|
|     Jersey City, NJ|0.7699711260827719|    1039.0|
|      Huntsville, AL|0.7699156513589503|    2134.0|
|         El Paso, TX|0.7696969696969697|    2310.0|
|    Indianapolis, IN|0.7692942633099463|    4846.0|
|        Savannah, GA|0.7689581856839122|    1411.0|
|         Oakland, CA|0.7680028378857751|    2819.0|
|     San Antonio, TX|0.7674245643858904|    9412.0|
|      Boca Raton, FL|0.7673975214489991|    1049.0|
|        Metairie, LA|0.7669664758789861|    1223.0|
|       Nashville, TN|0.7659714238791263|    6089.0|
|         Atlanta, GA|0.7656912868486893|    9193.0|
|          Fresno, CA|0.7651093013287612|    2333.0|
|       Cleveland, OH|0.7646030080447709|    2859.0|
|        Beaumont, TX|0.7645914396887159|    1028.0|
|   Staten Island, NY|0.7642424242424243|    1650.0|
|      San Marcos, TX|0.7639206712433257|    2622.0|
|         Phoenix, AZ|0.7637710229902793|    6481.0|
|     Baton Rouge, LA|0.7634121959346885|    3001.0|
|      Montgomery, AL| 0.763189448441247|    1668.0|
|          Dallas, TX|0.7622266401590457|    7545.0|
|        San Jose, CA|0.7620150550086856|    3454.0|
|      Fort Worth, TX| 0.761482254697286|    3832.0|
|      Greensboro, NC| 0.761455525606469|    4452.0|
|  Corpus Christi, TX|0.7607402511566425|    1513.0|
|    Prairie View, TX|0.7603053435114504|    1965.0|
|         Detroit, MI|0.7599862258953168|    2904.0|
|     Albuquerque, NM|  0.75748031496063|    1905.0|
|            Mesa, AZ|0.7567567567567568|    1221.0|
|          Durham, NC| 0.755292429135271|    2787.0|
|    Philadelphia, PA|0.7542945805164579|    9023.0|
|       Baltimore, MD| 0.753142551484354|    3739.0|
|         Houston, TX| 0.752046783625731|   22230.0|
|      University, FL|0.7495395948434622|    1086.0|
|         Norfolk, VA|0.7489539748953975|    2868.0|
|         Hampton, VA|             0.748|    1250.0|
|     Bakersfield, CA|0.7471402769416015|    1661.0|
|          Mobile, AL|0.7466931216931217|    1512.0|
|       Arlington, TX|0.7459016393442623|    2440.0|
|     Tallahassee, FL|0.7376373626373627|    3640.0|
|       Riverside, CA|0.7373478539397822|    1561.0|
|           Akron, OH|0.7312925170068028|    1176.0|
|        Portland, OR|0.6756080927483519|    4399.0|
+--------------------+------------------+----------+

In [43]:
# Ranking by averaging compound scores
df_scored.groupBy('location').agg({'score': 'avg', 'count': 'sum'}).filter(col('sum(count)') > MIN_TWEETS_COUNT).sort('avg(score)', ascending=False).show(n=1000)

+--------------------+-------------------+----------+
|            location|         avg(score)|sum(count)|
+--------------------+-------------------+----------+
|        St Louis, MO|0.18028819345661445|    1406.0|
|           Plano, TX| 0.1754244833068362|    1258.0|
|           Omaha, NE|0.17393708269131994|    1947.0|
|         Wichita, KS| 0.1726965140123034|    1463.0|
|           Tulsa, OK|0.17210634674922595|    1292.0|
|       Arlington, VA|0.17073314984709465|    1635.0|
|     Kansas City, MO|0.16382691090004523|    2211.0|
|  Salt Lake City, UT|0.16254647501711153|    1461.0|
|      Scottsdale, AZ|0.15786854026845634|    1192.0|
|         Raleigh, NC|0.15748895909544383|    3007.0|
|   Oklahoma City, OK|0.15568032623169098|    3004.0|
|          Austin, TX|0.15333244652406422|    7480.0|
|         El Paso, TX|0.15294541125541117|    2310.0|
|Colorado Springs, CO|0.15270353356890456|    1415.0|
|          Boston, MA|0.14928714206539803|    5413.0|
|        Paradise, NV|0.14898234438627098|    3438.0|
|           Tyler, TX| 0.1478229166666667|    1056.0|
|      Louisville, KY| 0.1466100606673407|    1978.0|
|         Orlando, FL|0.14658908067542206|    2665.0|
|       Knoxville, TN|0.14577399328859053|    1788.0|
|      Birmingham, AL|0.14545646523716696|    1539.0|
|       Ann Arbor, MI|0.14505505397448482|    1019.0|
|         Lubbock, TX|0.14468299827685235|    1741.0|
|       Charlotte, NC|0.14462131245043608|    5044.0|
|      Huntsville, AL|0.14432014995313958|    2134.0|
|       Manhattan, NY|0.14214313906469778|   22752.0|
|          Denton, TX|0.14182232876712322|    2190.0|
|           Miami, FL|0.14053556298773673|    3588.0|
|          Toledo, OH| 0.1400388478581979|    1354.0|
| Fort Lauderdale, FL|0.13894979253112028|    1205.0|
|        Honolulu, HI|0.13778939144736832|    2432.0|
|         Seattle, WA|0.13717770243318694|    5014.0|
|          Denver, CO|0.13702865426431496|    4139.0|
|  Virginia Beach, VA| 0.1369145765849143|    2161.0|
|       Henderson, NV|0.13581515975526853|    1471.0|
|   San Francisco, CA|0.13519906245691427|    7253.0|
|            Mesa, AZ|0.13484324324324323|    1221.0|
|       San Diego, CA|0.13427405155320557|    7565.0|
|        Columbus, OH|  0.134225667633145|    6553.0|
|      Cincinnati, OH|0.13358772663877264|    2151.0|
|            Reno, NV|0.13250257086354647|    1517.0|
|     Minneapolis, MN|0.13091236033519546|    2864.0|
|         Jackson, MS|0.13076380193511664|    1757.0|
|      Sacramento, CA| 0.1305730720606826|    2373.0|
|    Indianapolis, IN| 0.1290248039620304|    4846.0|
|          Tucson, AZ|0.12890539622641498|    2650.0|
|       Nashville, TN|0.12857965183117087|    6089.0|
|   St Petersburg, FL|0.12854782608695653|    1012.0|
|          Newark, NJ|0.12748284883720928|    1376.0|
|       Lafayette, LA|0.12644999999999998|    1442.0|
|      Washington, DC|0.12631406036290702|   10967.0|
|  Corpus Christi, TX| 0.1262679444811632|    1513.0|
|          Irvine, CA|0.12561829826166512|    1093.0|
|      Pittsburgh, PA|0.12543163265306115|    3136.0|
|        Savannah, GA|0.12538348688873144|    1411.0|
|     San Antonio, TX|0.12494382702932416|    9412.0|
|        Beaumont, TX|0.12429513618677045|    1028.0|
|         Phoenix, AZ|0.12424814071902472|    6481.0|
|     Los Angeles, CA|0.12395868377670739|   30937.0|
|       Las Vegas, NV|0.12381806140878976|    4983.0|
|           Tempe, AZ|0.12307335375191425|    1959.0|
|         Anaheim, CA|0.12280089473684207|    1900.0|
|        Richmond, VA|0.12222373251748252|    2288.0|
|         Memphis, TN|0.12131388557806909|    3356.0|
| College Station, TX|0.12108471074380169|    1452.0|
|      Long Beach, CA|0.12105830642267668|    2787.0|
|   Winston-Salem, NC|0.12103568215892059|    1334.0|
|          Durham, NC|0.12017922497308926|    2787.0|
|         Chicago, IL|0.11984511642347107|   16105.0|
|       Milwaukee, WI|0.11967074569789662|    2615.0|
|         St Paul, MN| 0.1186754519505233|    1051.0|
|         Buffalo, NY|0.11825784477945278|    1791.0|
|     Baton Rouge, LA|0.11804815061646108|    3001.0|
|          Irving, TX|0.11783381962864724|    1508.0|
|      Montgomery, AL|0.11713009592326137|    1668.0|
|     Albuquerque, NM|0.11554792650918633|    1905.0|
|      Fort Worth, TX|0.11486124739039656|    3832.0|
|      Greensboro, NC|0.11414528301886784|    4452.0|
|     New Orleans, LA|0.11403866299104053|    5804.0|
|           Tampa, FL|0.11275293885601574|    2535.0|
|      Enterprise, NV|0.11190413223140495|    1210.0|
|      Boca Raton, FL|0.11112678741658724|    1049.0|
|           Akron, OH|0.11069889455782317|    1176.0|
|          Fresno, CA|0.11043656236605225|    2333.0|
|      San Marcos, TX|0.11026613272311209|    2622.0|
|          Dallas, TX|0.11024181577203432|    7545.0|
|         Atlanta, GA|0.11017627542695534|    9193.0|
|         Oakland, CA|0.10923643135863778|    2819.0|
|        Brooklyn, NY|0.10865425469483564|   10224.0|
|         Houston, TX| 0.1082719928025193|   22230.0|
|       Baltimore, MD|0.10689459748595875|    3739.0|
|        San Jose, CA|0.10681864504921819|    3454.0|
|     Jersey City, NJ|0.10634302213666988|    1039.0|
|       Cleveland, OH|0.10406694648478483|    2859.0|
|         Detroit, MI|0.10401842286501366|    2904.0|
|      Tuscaloosa, AL|0.10306583044982702|    1156.0|
|        Metairie, LA| 0.1020528209321341|    1223.0|
|     Bakersfield, CA|0.10075063214930768|    1661.0|
|          Queens, NY|0.10070255216934379|    6661.0|
|   Staten Island, NY|           0.099606|    1650.0|
|      Providence, RI|0.09806068222621186|    1114.0|
|    Philadelphia, PA|0.09801020724814362|    9023.0|
|      University, FL|0.09656031307550646|    1086.0|
|    Prairie View, TX|0.09581862595419847|    1965.0|
|          Mobile, AL|0.09449041005291005|    1512.0|
|         Hampton, VA|         0.09270896|    1250.0|
|           Bronx, NY| 0.0920871157323688|    4424.0|
|       Arlington, TX|0.08831077868852459|    2440.0|
|     Tallahassee, FL|0.08259005494505492|    3640.0|
|         Norfolk, VA|0.08242475592747557|    2868.0|
|       Riverside, CA|0.07336028187059579|    1561.0|
|        Portland, OR|0.03513207547169809|    4399.0|
+--------------------+-------------------+----------+

# Ranking Result of Logistic Regression

In [20]:
def extract_probability(input):
    return input.toArray().tolist()[1]

udf_extract_probability = udf(extract_probability)

In [21]:
trigramwocs_pipelineFit_loaded = PipelineModel.load("ngram_cv_idf_lr")

In [22]:
%%time
df_ngram_cv_idf_lr = trigramwocs_pipelineFit_loaded.transform(df_preprocessed)

df_ngram_cv_idf_lr = df_ngram_cv_idf_lr.withColumn("count", udf_count(col("text")))
df_ngram_cv_idf_lr = df_ngram_cv_idf_lr.withColumn("score", udf_extract_probability(df_ngram_cv_idf_lr.probability))

df_ngram_cv_idf_lr.cache()
df_ngram_cv_idf_lr.count()

CPU times: user 80 ms, sys: 30 ms, total: 110 ms
Wall time: 1min 21s

In [46]:
# Ranking by averaging 1/0 values
df_ngram_cv_idf_lr.groupBy('location').agg({'prediction': 'avg', 'count': 'sum'}).filter(col('sum(count)') > MIN_TWEETS_COUNT).sort('avg(prediction)', ascending=False).show(n=1000)

+--------------------+------------------+----------+
|            location|   avg(prediction)|sum(count)|
+--------------------+------------------+----------+
|      Scottsdale, AZ|0.7843959731543624|    1192.0|
|       Las Vegas, NV|0.7822596829219346|    4983.0|
|       Manhattan, NY|0.7821290436005626|   22752.0|
|         St Paul, MN|0.7764034253092293|    1051.0|
|           Miami, FL|0.7748049052396878|    3588.0|
|       Arlington, VA|0.7712538226299694|    1635.0|
|     Minneapolis, MN|0.7695530726256983|    2864.0|
|        St Louis, MO|0.7681365576102418|    1406.0|
|         Seattle, WA|0.7622656561627443|    5014.0|
|  Salt Lake City, UT|0.7618069815195072|    1461.0|
|          Boston, MA|0.7589137262146683|    5413.0|
|   San Francisco, CA|0.7583069074865573|    7253.0|
|        Brooklyn, NY|0.7552816901408451|   10224.0|
|   St Petersburg, FL|0.7549407114624506|    1012.0|
|         Orlando, FL|0.7527204502814259|    2665.0|
|       San Diego, CA| 0.752412425644415|    7565.0|
|   Staten Island, NY|0.7509090909090909|    1650.0|
|Colorado Springs, CO|0.7498233215547703|    1415.0|
|          Denver, CO|0.7494563904324716|    4139.0|
|        Paradise, NV|0.7484002326934264|    3438.0|
|          Queens, NY|0.7483861282089777|    6661.0|
|           Omaha, NE| 0.743708269131998|    1947.0|
|         Wichita, KS|0.7429938482570062|    1463.0|
| Fort Lauderdale, FL|0.7427385892116183|    1205.0|
|      Providence, RI|0.7423698384201077|    1114.0|
|      Enterprise, NV|0.7421487603305785|    1210.0|
|        Honolulu, HI|0.7417763157894737|    2432.0|
|     Kansas City, MO|0.7408412483039348|    2211.0|
|       Knoxville, TN|0.7388143176733781|    1788.0|
|      Louisville, KY|0.7386248736097067|    1978.0|
|         Raleigh, NC|0.7376122381110741|    3007.0|
|      Boca Raton, FL|0.7368922783603432|    1049.0|
|           Plano, TX|0.7368839427662957|    1258.0|
|      Washington, DC|0.7359350779611562|   10967.0|
|     Los Angeles, CA|0.7328441671784595|   30937.0|
|          Austin, TX|0.7323529411764705|    7480.0|
|       Charlotte, NC|0.7309674861221253|    5044.0|
|         Memphis, TN|0.7306317044100119|    3356.0|
|           Bronx, NY|0.7280741410488246|    4424.0|
|       Henderson, NV|0.7267165193745752|    1471.0|
|         Chicago, IL|0.7266066438994101|   16105.0|
|         Oakland, CA|0.7264987584249734|    2819.0|
|            Reno, NV|0.7251153592617007|    1517.0|
|       Ann Arbor, MI|0.7232580961727183|    1019.0|
|      Sacramento, CA|0.7231352718078382|    2373.0|
|      Birmingham, AL|0.7218973359324237|    1539.0|
|         Buffalo, NY|0.7208263539921831|    1791.0|
|   Winston-Salem, NC|0.7203898050974513|    1334.0|
|           Tulsa, OK|0.7198142414860681|    1292.0|
|     Albuquerque, NM|0.7196850393700788|    1905.0|
|    Indianapolis, IN|0.7181180354931903|    4846.0|
|     Jersey City, NJ|0.7179980750721848|    1039.0|
|   Oklahoma City, OK|0.7160452729693741|    3004.0|
|          Newark, NJ| 0.715843023255814|    1376.0|
|         Phoenix, AZ|0.7150131152599908|    6481.0|
|         Anaheim, CA|0.7147368421052631|    1900.0|
|       Milwaukee, WI|0.7143403441682601|    2615.0|
|      Long Beach, CA|0.7129529960531037|    2787.0|
|           Tampa, FL|  0.71163708086785|    2535.0|
|          Irving, TX|0.7115384615384616|    1508.0|
|        Richmond, VA|0.7111013986013986|    2288.0|
|          Tucson, AZ|0.7075471698113207|    2650.0|
|       Nashville, TN|0.7042207258991624|    6089.0|
|          Dallas, TX| 0.702054340622929|    7545.0|
|            Mesa, AZ|0.7018837018837019|    1221.0|
|          Irvine, CA|0.7017383348581885|    1093.0|
|  Virginia Beach, VA|0.7006015733456733|    2161.0|
|    Philadelphia, PA|0.6998780893272747|    9023.0|
|           Tyler, TX|0.6998106060606061|    1056.0|
|      Cincinnati, OH| 0.699674569967457|    2151.0|
|        Columbus, OH|0.6946436746528307|    6553.0|
|         Atlanta, GA|0.6891112803219841|    9193.0|
|           Tempe, AZ|0.6886166411434406|    1959.0|
|        San Jose, CA|0.6873190503763752|    3454.0|
|         Lubbock, TX|0.6869615163699023|    1741.0|
|      University, FL|0.6869244935543278|    1086.0|
|      Fort Worth, TX|0.6829331941544885|    3832.0|
|     Bakersfield, CA|0.6815171583383504|    1661.0|
|          Fresno, CA| 0.680240034290613|    2333.0|
|      Pittsburgh, PA|0.6792091836734694|    3136.0|
|     San Antonio, TX|0.6781767955801105|    9412.0|
|     New Orleans, LA|0.6778084079944866|    5804.0|
|         Detroit, MI|0.6776859504132231|    2904.0|
|       Lafayette, LA|0.6768377253814147|    1442.0|
| College Station, TX|0.6763085399449036|    1452.0|
|         Jackson, MS|0.6750142287990893|    1757.0|
|       Arlington, TX|             0.675|    2440.0|
|          Denton, TX|0.6707762557077626|    2190.0|
|          Toledo, OH|0.6698670605612999|    1354.0|
|        Portland, OR|0.6681063878154125|    4399.0|
|         Houston, TX|0.6671614934772829|   22230.0|
|      Huntsville, AL|0.6668228678537957|    2134.0|
|       Riverside, CA|0.6655989750160154|    1561.0|
|       Baltimore, MD|0.6638138539716502|    3739.0|
|         Norfolk, VA|0.6628312412831241|    2868.0|
|        Savannah, GA|0.6626506024096386|    1411.0|
|      Tuscaloosa, AL|0.6626297577854672|    1156.0|
|         El Paso, TX|0.6623376623376623|    2310.0|
|       Cleveland, OH|0.6621196222455404|    2859.0|
|      San Marcos, TX|0.6586575133485889|    2622.0|
|          Durham, NC|0.6569788302834589|    2787.0|
|        Metairie, LA|0.6565821749795585|    1223.0|
|  Corpus Christi, TX|0.6563119629874422|    1513.0|
|      Montgomery, AL|0.6558752997601919|    1668.0|
|     Baton Rouge, LA|0.6541152949016994|    3001.0|
|     Tallahassee, FL|0.6502747252747253|    3640.0|
|         Hampton, VA|            0.6488|    1250.0|
|          Mobile, AL|0.6441798941798942|    1512.0|
|      Greensboro, NC|0.6327493261455526|    4452.0|
|        Beaumont, TX|0.6303501945525292|    1028.0|
|           Akron, OH|             0.625|    1176.0|
|    Prairie View, TX|0.6061068702290077|    1965.0|
+--------------------+------------------+----------+

In [47]:
# Ranking by averaging probabilities
df_ngram_cv_idf_lr.groupBy('location').agg({'score': 'avg', 'count': 'sum'}).filter(col('sum(count)') > MIN_TWEETS_COUNT).sort('avg(score)', ascending=False).show(n=1000)

+--------------------+------------------+----------+
|            location|        avg(score)|sum(count)|
+--------------------+------------------+----------+
|       Arlington, VA|0.6708742147273796|    1635.0|
|        St Louis, MO|0.6708325668901346|    1406.0|
|       Manhattan, NY|0.6700273485001346|   22752.0|
|      Scottsdale, AZ|0.6639159697349479|    1192.0|
|         Seattle, WA|0.6611632693903476|    5014.0|
|     Minneapolis, MN|0.6611049804879935|    2864.0|
|         St Paul, MN|0.6598993696939583|    1051.0|
|  Salt Lake City, UT| 0.659592531889071|    1461.0|
|           Miami, FL|0.6593047146310471|    3588.0|
|   San Francisco, CA|0.6573471277060481|    7253.0|
|          Boston, MA|0.6563913221576761|    5413.0|
|Colorado Springs, CO|0.6546208717719122|    1415.0|
|   St Petersburg, FL|0.6535607652348434|    1012.0|
|           Omaha, NE|0.6531468635974941|    1947.0|
|     Kansas City, MO|0.6523004051613569|    2211.0|
|       Knoxville, TN|0.6515337010656462|    1788.0|
|          Denver, CO|0.6512495243240694|    4139.0|
|         Orlando, FL|0.6508298815949488|    2665.0|
|           Plano, TX|0.6505400674218261|    1258.0|
|        Paradise, NV| 0.649771091152719|    3438.0|
|       Las Vegas, NV|0.6477350315768009|    4983.0|
|         Wichita, KS|0.6473559250957682|    1463.0|
|      Louisville, KY|0.6446313110644716|    1978.0|
|        Brooklyn, NY| 0.644245378715639|   10224.0|
|         Raleigh, NC|0.6435366780996813|    3007.0|
|       San Diego, CA|0.6429386283746213|    7565.0|
| Fort Lauderdale, FL|0.6428009726865448|    1205.0|
|      Washington, DC|0.6395777868162841|   10967.0|
|      Boca Raton, FL|0.6389813523859214|    1049.0|
|           Tulsa, OK|0.6388008176528829|    1292.0|
|   Oklahoma City, OK|0.6385467363786161|    3004.0|
|          Austin, TX|0.6383582779940811|    7480.0|
|      Providence, RI|0.6375235019722105|    1114.0|
|   Staten Island, NY|0.6367104353717569|    1650.0|
|       Charlotte, NC|0.6353948738824811|    5044.0|
|     Los Angeles, CA|0.6348410076232168|   30937.0|
|        Honolulu, HI| 0.633232926878835|    2432.0|
|          Queens, NY|0.6320832159209486|    6661.0|
|       Henderson, NV|0.6305522066140875|    1471.0|
|         Chicago, IL|0.6297784098259089|   16105.0|
|      Enterprise, NV|0.6297215022817803|    1210.0|
|            Reno, NV|0.6294649460331605|    1517.0|
|         Oakland, CA|0.6284117643667293|    2819.0|
|    Indianapolis, IN|0.6268505036178037|    4846.0|
|      Birmingham, AL|0.6266444636617177|    1539.0|
|         Memphis, TN|0.6265530856657923|    3356.0|
|         Phoenix, AZ|0.6263983543059073|    6481.0|
|      Sacramento, CA|0.6234002408277468|    2373.0|
|     Albuquerque, NM|0.6230501821552002|    1905.0|
|       Ann Arbor, MI|0.6230314719018473|    1019.0|
|         Anaheim, CA|0.6211906682046258|    1900.0|
|       Milwaukee, WI|0.6208938703850254|    2615.0|
|        Richmond, VA|0.6207685246072162|    2288.0|
|   Winston-Salem, NC|0.6206982918933405|    1334.0|
|      Pittsburgh, PA|0.6193338338881229|    3136.0|
|       Nashville, TN|0.6189471991966714|    6089.0|
|           Bronx, NY| 0.618887781267475|    4424.0|
|  Virginia Beach, VA|0.6184027983331506|    2161.0|
|           Tampa, FL|0.6175200396688901|    2535.0|
|      Long Beach, CA|0.6171174536989925|    2787.0|
|      Cincinnati, OH|0.6166097299079509|    2151.0|
|          Tucson, AZ|0.6147993279545888|    2650.0|
|          Newark, NJ|0.6145982612197458|    1376.0|
|     Jersey City, NJ|0.6141400371302725|    1039.0|
|         Buffalo, NY|0.6113752176113916|    1791.0|
|          Dallas, TX|0.6100614518428719|    7545.0|
|        Columbus, OH|0.6092121473724287|    6553.0|
|            Mesa, AZ|0.6091973169607936|    1221.0|
|          Irving, TX|0.6085866378649337|    1508.0|
|    Philadelphia, PA|0.6078192405064988|    9023.0|
|          Irvine, CA|0.6060781072997558|    1093.0|
|           Tyler, TX|0.6040467147285469|    1056.0|
|         Atlanta, GA|0.6035692954624781|    9193.0|
|      Fort Worth, TX|0.6029872272263188|    3832.0|
|         Lubbock, TX|0.6020051442827246|    1741.0|
|        Portland, OR|0.6015472107859036|    4399.0|
|           Tempe, AZ|0.6015337401261729|    1959.0|
|         Jackson, MS|0.5966166461954242|    1757.0|
|          Fresno, CA|0.5963025139681233|    2333.0|
|          Toledo, OH|0.5956243474556187|    1354.0|
|        San Jose, CA|0.5953384316808414|    3454.0|
|     San Antonio, TX|0.5949729607691304|    9412.0|
|     Bakersfield, CA|0.5925470781916363|    1661.0|
|      Tuscaloosa, AL| 0.592337510585795|    1156.0|
|     New Orleans, LA|0.5916617267115092|    5804.0|
|       Arlington, TX|0.5901770894362319|    2440.0|
|         Detroit, MI|0.5894753237563652|    2904.0|
|      University, FL|0.5891249030445244|    1086.0|
|          Denton, TX|0.5882703747821493|    2190.0|
|      Huntsville, AL|0.5878293027067383|    2134.0|
|         El Paso, TX|0.5871956090763762|    2310.0|
| College Station, TX|0.5870284732351196|    1452.0|
|       Baltimore, MD|0.5862850421824497|    3739.0|
|       Lafayette, LA|0.5855211290177208|    1442.0|
|         Houston, TX|0.5846253252460608|   22230.0|
|  Corpus Christi, TX|0.5834521056534373|    1513.0|
|        Metairie, LA|0.5828441700011655|    1223.0|
|     Baton Rouge, LA|0.5800231494610156|    3001.0|
|          Durham, NC|0.5794450518876366|    2787.0|
|         Norfolk, VA|0.5787232709512142|    2868.0|
|       Cleveland, OH|0.5768537035943397|    2859.0|
|       Riverside, CA|0.5765046979643963|    1561.0|
|        Savannah, GA|0.5752200610841294|    1411.0|
|          Mobile, AL|0.5747965281176907|    1512.0|
|      San Marcos, TX|0.5747511158747218|    2622.0|
|      Montgomery, AL|0.5745075261637401|    1668.0|
|         Hampton, VA|0.5708594943525847|    1250.0|
|        Beaumont, TX|0.5666978241823536|    1028.0|
|      Greensboro, NC|0.5644685717123432|    4452.0|
|     Tallahassee, FL|0.5634127625311519|    3640.0|
|           Akron, OH|0.5606610850776929|    1176.0|
|    Prairie View, TX|0.5399676187965581|    1965.0|
+--------------------+------------------+----------+

# Ranking Result of Naive Bayes

In [25]:
nb_pipelineFit_loaded = PipelineModel.load("ngram_cv_idf_nb")

In [26]:
%%time
df_ngram_cv_idf_nb = nb_pipelineFit_loaded.transform(df_preprocessed)

df_ngram_cv_idf_nb = df_ngram_cv_idf_nb.withColumn("count", udf_count(col("text")))
df_ngram_cv_idf_nb = df_ngram_cv_idf_nb.withColumn("score", udf_extract_probability(df_ngram_cv_idf_nb.probability))

df_ngram_cv_idf_nb.cache()
df_ngram_cv_idf_nb.count()

CPU times: user 80 ms, sys: 20 ms, total: 100 ms
Wall time: 1min 25s

In [48]:
# Ranking by averaging 1/0 values
df_ngram_cv_idf_nb.groupBy('location').agg({'prediction': 'avg', 'count': 'sum'}).filter(col('sum(count)') > MIN_TWEETS_COUNT).sort('avg(prediction)', ascending=False).show(n=1000)

+--------------------+------------------+----------+
|            location|   avg(prediction)|sum(count)|
+--------------------+------------------+----------+
|      Scottsdale, AZ| 0.764261744966443|    1192.0|
|           Miami, FL|0.7522296544035675|    3588.0|
|       Manhattan, NY|0.7463959212376934|   22752.0|
|         St Paul, MN|0.7402473834443387|    1051.0|
|         Seattle, WA|0.7389309932189868|    5014.0|
|        St Louis, MO|0.7368421052631579|    1406.0|
|     Minneapolis, MN|0.7328910614525139|    2864.0|
|       Arlington, VA|0.7314984709480122|    1635.0|
|          Boston, MA|0.7308331793829669|    5413.0|
|  Salt Lake City, UT| 0.728952772073922|    1461.0|
|           Omaha, NE|0.7282999486389317|    1947.0|
|   San Francisco, CA|0.7274231352543775|    7253.0|
|   St Petersburg, FL|0.7213438735177866|    1012.0|
|          Denver, CO|0.7204638801642909|    4139.0|
|Colorado Springs, CO|0.7173144876325088|    1415.0|
| Fort Lauderdale, FL|0.7170124481327801|    1205.0|
|        Paradise, NV|0.7152414194299012|    3438.0|
|         Orlando, FL|0.7151969981238274|    2665.0|
|       San Diego, CA|0.7127561136814277|    7565.0|
|      Boca Raton, FL|0.7111534795042898|    1049.0|
|        Brooklyn, NY|0.7084311424100157|   10224.0|
|          Queens, NY|0.7069509082720312|    6661.0|
|      Enterprise, NV|0.7057851239669422|    1210.0|
|       Las Vegas, NV|0.7053983544049769|    4983.0|
|      Providence, RI| 0.703770197486535|    1114.0|
|      Louisville, KY|0.7022244691607684|    1978.0|
|      Washington, DC|0.7021975015956962|   10967.0|
|         Wichita, KS|0.7019822282980178|    1463.0|
|     Kansas City, MO|0.7005879692446857|    2211.0|
|     Los Angeles, CA|0.7000355561302001|   30937.0|
|         Raleigh, NC|0.6980379115397406|    3007.0|
|       Henderson, NV|0.6961250849762066|    1471.0|
|           Tulsa, OK|0.6958204334365325|    1292.0|
|      Birmingham, AL|0.6933073424301495|    1539.0|
|            Reno, NV|0.6921555702043507|    1517.0|
|          Austin, TX|0.6919786096256685|    7480.0|
|       Knoxville, TN|0.6912751677852349|    1788.0|
|         Chicago, IL|0.6911518162061472|   16105.0|
|       Charlotte, NC| 0.689928628072958|    5044.0|
|           Plano, TX|0.6875993640699523|    1258.0|
|         Phoenix, AZ|0.6836907884585712|    6481.0|
|       Ann Arbor, MI|0.6830225711481845|    1019.0|
|        Honolulu, HI|0.6829769736842105|    2432.0|
|      Sacramento, CA|0.6822587442056468|    2373.0|
|           Bronx, NY|0.6821880650994575|    4424.0|
|          Tucson, AZ|0.6818867924528302|    2650.0|
|         Anaheim, CA|0.6805263157894736|    1900.0|
|       Milwaukee, WI|0.6768642447418738|    2615.0|
|      Long Beach, CA|0.6752780767850736|    2787.0|
|   Winston-Salem, NC|0.6746626686656672|    1334.0|
|         Oakland, CA|0.6736431358637814|    2819.0|
|          Irvine, CA|0.6733760292772186|    1093.0|
|  Virginia Beach, VA|0.6714484035168903|    2161.0|
|     Albuquerque, NM|0.6713910761154855|    1905.0|
|   Staten Island, NY|0.6703030303030303|    1650.0|
|         Memphis, TN|0.6692491060786651|    3356.0|
|           Tampa, FL|0.6686390532544378|    2535.0|
|   Oklahoma City, OK| 0.666444740346205|    3004.0|
|    Indianapolis, IN| 0.665910028889806|    4846.0|
|      Cincinnati, OH|0.6652719665271967|    2151.0|
|     Jersey City, NJ|0.6650625601539942|    1039.0|
|          Irving, TX|0.6644562334217506|    1508.0|
|        Richmond, VA|0.6630244755244755|    2288.0|
|    Philadelphia, PA|0.6613099855923751|    9023.0|
|         Buffalo, NY|0.6610831937465104|    1791.0|
|            Mesa, AZ|0.6601146601146601|    1221.0|
|          Dallas, TX|0.6575215374420146|    7545.0|
|        Portland, OR|0.6565128438281428|    4399.0|
|       Nashville, TN|0.6559369354573822|    6089.0|
|         Atlanta, GA|0.6516915044055259|    9193.0|
|           Tempe, AZ|0.6493108728943339|    1959.0|
|      Fort Worth, TX|0.6466597077244259|    3832.0|
|        Columbus, OH| 0.642911643522051|    6553.0|
|          Newark, NJ|0.6409883720930233|    1376.0|
|        San Jose, CA|0.6392588303416329|    3454.0|
|      Pittsburgh, PA|0.6355229591836735|    3136.0|
|     Bakersfield, CA|0.6351595424443106|    1661.0|
|       Arlington, TX|0.6348360655737705|    2440.0|
|     San Antonio, TX|0.6317467063323416|    9412.0|
|         Lubbock, TX|0.6306720275703619|    1741.0|
|       Lafayette, LA| 0.630374479889043|    1442.0|
|        Savannah, GA|0.6293408929836996|    1411.0|
|      University, FL|0.6261510128913443|    1086.0|
|           Tyler, TX|0.6259469696969697|    1056.0|
|         Jackson, MS|0.6254980079681275|    1757.0|
|         Detroit, MI|             0.625|    2904.0|
|          Denton, TX|0.6232876712328768|    2190.0|
|          Fresno, CA|0.6210887269609944|    2333.0|
|     New Orleans, LA| 0.618711233631978|    5804.0|
| College Station, TX|0.6157024793388429|    1452.0|
|      Tuscaloosa, AL|0.6133217993079585|    1156.0|
|       Riverside, CA|0.6130685458039719|    1561.0|
|         Houston, TX|0.6124606387764282|   22230.0|
|          Durham, NC|0.6103336921420882|    2787.0|
|       Baltimore, MD|0.6103236159400909|    3739.0|
|         El Paso, TX|0.6099567099567099|    2310.0|
|      Huntsville, AL|0.6077788191190253|    2134.0|
|       Cleveland, OH|0.6068555438964673|    2859.0|
|          Toledo, OH| 0.604135893648449|    1354.0|
|      San Marcos, TX|0.6037376048817696|    2622.0|
|         Norfolk, VA|0.6032078103207811|    2868.0|
|        Metairie, LA|0.6017988552739166|    1223.0|
|      Montgomery, AL|0.5971223021582733|    1668.0|
|         Hampton, VA|            0.5952|    1250.0|
|     Baton Rouge, LA|0.5944685104965012|    3001.0|
|  Corpus Christi, TX|0.5935228023793787|    1513.0|
|          Mobile, AL|0.5859788359788359|    1512.0|
|     Tallahassee, FL|0.5854395604395605|    3640.0|
|      Greensboro, NC|0.5831087151841868|    4452.0|
|        Beaumont, TX|0.5719844357976653|    1028.0|
|           Akron, OH|0.5714285714285714|    1176.0|
|    Prairie View, TX|0.5333333333333333|    1965.0|
+--------------------+------------------+----------+

In [49]:
# Ranking by averaging probabilities
df_ngram_cv_idf_nb.groupBy('location').agg({'score': 'avg', 'count': 'sum'}).filter(col('sum(count)') > MIN_TWEETS_COUNT).sort('avg(score)', ascending=False).show(n=1000)

+--------------------+------------------+----------+
|            location|        avg(score)|sum(count)|
+--------------------+------------------+----------+
|      Scottsdale, AZ|0.7510832915663779|    1192.0|
|           Miami, FL|0.7471619425345617|    3588.0|
|       Manhattan, NY|0.7439800655700508|   22752.0|
|         St Paul, MN|0.7402283554651218|    1051.0|
|         Seattle, WA| 0.735611105053338|    5014.0|
|        St Louis, MO|0.7328592037973607|    1406.0|
|     Minneapolis, MN|0.7310592638919375|    2864.0|
|       Arlington, VA| 0.728068632631937|    1635.0|
|          Boston, MA|0.7270282682956619|    5413.0|
|   San Francisco, CA|0.7252780228424734|    7253.0|
|  Salt Lake City, UT|0.7251330260787349|    1461.0|
|           Omaha, NE|0.7240930859395718|    1947.0|
|       Las Vegas, NV|0.7211747536708224|    4983.0|
|   St Petersburg, FL|0.7173393205213174|    1012.0|
|          Denver, CO|0.7163583544732613|    4139.0|
| Fort Lauderdale, FL|0.7148291479917959|    1205.0|
|         Orlando, FL|0.7114861174024508|    2665.0|
|       San Diego, CA|0.7110041320457273|    7565.0|
|Colorado Springs, CO| 0.709736663298691|    1415.0|
|        Paradise, NV|0.7086527626233968|    3438.0|
|      Boca Raton, FL|0.7079805990800462|    1049.0|
|        Brooklyn, NY|0.7054918179586006|   10224.0|
|      Enterprise, NV|0.7047247319997093|    1210.0|
|          Queens, NY|0.7016218544679198|    6661.0|
|     Los Angeles, CA|0.6993982118726622|   30937.0|
|      Louisville, KY|0.6981330636652203|    1978.0|
|      Providence, RI|0.6975016380528548|    1114.0|
|      Washington, DC|0.6973238314059759|   10967.0|
|         Wichita, KS|0.6970237286238271|    1463.0|
|     Kansas City, MO|0.6963593654755984|    2211.0|
|         Raleigh, NC|0.6956194833889036|    3007.0|
|           Tulsa, OK|0.6941033972100283|    1292.0|
|       Henderson, NV|0.6921659678188142|    1471.0|
|           Plano, TX|  0.68996202189421|    1258.0|
|       Knoxville, TN|0.6898770048317565|    1788.0|
|            Reno, NV|0.6897105842406647|    1517.0|
|          Austin, TX|0.6886572778619231|    7480.0|
|         Chicago, IL|0.6881489535565152|   16105.0|
|      Birmingham, AL|0.6873513843008089|    1539.0|
|       Charlotte, NC|0.6865269585649839|    5044.0|
|          Tucson, AZ|0.6832199549921287|    2650.0|
|       Ann Arbor, MI|0.6810766416732982|    1019.0|
|        Honolulu, HI| 0.680646320772297|    2432.0|
|         Phoenix, AZ| 0.680440498862602|    6481.0|
|      Sacramento, CA|0.6785894424546202|    2373.0|
|         Anaheim, CA|0.6777901319118751|    1900.0|
|           Bronx, NY|0.6760610995676507|    4424.0|
|   Staten Island, NY|0.6730277699336221|    1650.0|
|          Irvine, CA|0.6729762243066829|    1093.0|
|       Milwaukee, WI|0.6727876407985061|    2615.0|
|      Long Beach, CA|0.6724518810911599|    2787.0|
|         Oakland, CA|0.6717311495573486|    2819.0|
|   Winston-Salem, NC|0.6704697758482107|    1334.0|
|     Albuquerque, NM|0.6702656303484384|    1905.0|
|  Virginia Beach, VA|0.6692007894533939|    2161.0|
|           Tampa, FL|0.6661208142639351|    2535.0|
|    Indianapolis, IN|0.6642569118449243|    4846.0|
|         Memphis, TN|0.6637469152470419|    3356.0|
|      Cincinnati, OH| 0.663233834592634|    2151.0|
|   Oklahoma City, OK| 0.662451833837655|    3004.0|
|          Irving, TX|0.6620306285403942|    1508.0|
|        Richmond, VA|0.6616278479106974|    2288.0|
|     Jersey City, NJ|0.6607633426752867|    1039.0|
|    Philadelphia, PA|0.6602655628732471|    9023.0|
|         Buffalo, NY|0.6598634538380725|    1791.0|
|            Mesa, AZ|0.6560453074544245|    1221.0|
|          Dallas, TX| 0.655896926656616|    7545.0|
|       Nashville, TN|0.6524511715304326|    6089.0|
|        Portland, OR|0.6517700145813353|    4399.0|
|         Atlanta, GA|0.6492131882258646|    9193.0|
|           Tempe, AZ|0.6487067299149705|    1959.0|
|      Fort Worth, TX|0.6455075625974754|    3832.0|
|        Columbus, OH|0.6397100720754532|    6553.0|
|      Pittsburgh, PA|0.6390912822599785|    3136.0|
|          Newark, NJ|0.6381340802536728|    1376.0|
|        San Jose, CA|0.6374657733833587|    3454.0|
|     Bakersfield, CA|0.6329588433652008|    1661.0|
|       Arlington, TX| 0.629578917638651|    2440.0|
|     San Antonio, TX|0.6294912821176626|    9412.0|
|         Lubbock, TX|0.6273691668703392|    1741.0|
|       Lafayette, LA| 0.626449506448262|    1442.0|
|           Tyler, TX| 0.626135462127482|    1056.0|
|         Detroit, MI| 0.623482494670445|    2904.0|
|          Fresno, CA|0.6219992604794314|    2333.0|
|         Jackson, MS|0.6218024060609308|    1757.0|
|          Denton, TX|0.6217906336135133|    2190.0|
|        Savannah, GA|0.6204158376639182|    1411.0|
|      University, FL|0.6200359219453765|    1086.0|
|     New Orleans, LA|0.6189588677643624|    5804.0|
| College Station, TX| 0.616108067772241|    1452.0|
|       Riverside, CA|0.6123080629827052|    1561.0|
|       Baltimore, MD|0.6114497950077394|    3739.0|
|         Houston, TX|0.6111371867293899|   22230.0|
|      Tuscaloosa, AL|0.6106256264825088|    1156.0|
|         El Paso, TX|0.6101515414278744|    2310.0|
|      Huntsville, AL|0.6073722839215335|    2134.0|
|          Durham, NC|0.6056159943890047|    2787.0|
|      San Marcos, TX|0.6053977598373481|    2622.0|
|          Toledo, OH|0.6032838253323719|    1354.0|
|        Metairie, LA|0.6031760178896479|    1223.0|
|       Cleveland, OH|0.6028441204045941|    2859.0|
|         Norfolk, VA|0.5999863527699938|    2868.0|
|      Montgomery, AL|0.5951411594834104|    1668.0|
|  Corpus Christi, TX|0.5943493848513676|    1513.0|
|     Baton Rouge, LA|0.5927955841928321|    3001.0|
|         Hampton, VA|0.5902654978945543|    1250.0|
|          Mobile, AL|0.5895885047932015|    1512.0|
|     Tallahassee, FL|0.5825793343137025|    3640.0|
|      Greensboro, NC|0.5802880494642636|    4452.0|
|        Beaumont, TX|0.5717074261678544|    1028.0|
|           Akron, OH|0.5667513888613707|    1176.0|
|    Prairie View, TX|0.5323162404315207|    1965.0|
+--------------------+------------------+----------+

# Ranking Result of Gradient Boost Tree

In [29]:
gbt_pipelineFit_loaded = PipelineModel.load("ngram_cv_idf_gbt")

In [30]:
%%time
df_ngram_cv_idf_gbt = gbt_pipelineFit_loaded.transform(df_preprocessed)

df_ngram_cv_idf_gbt = df_ngram_cv_idf_gbt.withColumn("count", udf_count(col("text")))
df_ngram_cv_idf_gbt = df_ngram_cv_idf_gbt.withColumn("score", udf_extract_probability(df_ngram_cv_idf_gbt.probability))

df_ngram_cv_idf_gbt.cache()
df_ngram_cv_idf_gbt.count()

CPU times: user 80 ms, sys: 0 ns, total: 80 ms
Wall time: 1min 28s

In [50]:
# Ranking by averaging 1/0 values
df_ngram_cv_idf_gbt.groupBy('location').agg({'prediction': 'avg', 'count': 'sum'}).filter(col('sum(count)') > MIN_TWEETS_COUNT).sort('avg(prediction)', ascending=False).show(n=1000)

+--------------------+-------------------+----------+
|            location|    avg(prediction)|sum(count)|
+--------------------+-------------------+----------+
|           Miami, FL| 0.5641025641025641|    3588.0|
|       Manhattan, NY| 0.5255362165963432|   22752.0|
|       Arlington, VA| 0.5033639143730887|    1635.0|
|         Orlando, FL| 0.5024390243902439|    2665.0|
|        Paradise, NV| 0.4970913321698662|    3438.0|
|      Washington, DC| 0.4951217288228321|   10967.0|
|         Memphis, TN| 0.4937425506555423|    3356.0|
|     Kansas City, MO|0.49344188150158297|    2211.0|
|      Louisville, KY| 0.4924165824064712|    1978.0|
|   Oklahoma City, OK|0.48501997336884156|    3004.0|
|        St Louis, MO|  0.484352773826458|    1406.0|
|        Richmond, VA| 0.4833916083916084|    2288.0|
|          Newark, NJ|0.48328488372093026|    1376.0|
|      Providence, RI| 0.4829443447037702|    1114.0|
|         Raleigh, NC| 0.4822081809112072|    3007.0|
|   Winston-Salem, NC|0.48125937031484256|    1334.0|
|       Knoxville, TN| 0.4798657718120805|    1788.0|
|         Buffalo, NY|0.47738693467336685|    1791.0|
|           Tulsa, OK| 0.4760061919504644|    1292.0|
|         Atlanta, GA|0.47590558033286195|    9193.0|
|          Boston, MA| 0.4720118233881397|    5413.0|
|     Minneapolis, MN| 0.4710195530726257|    2864.0|
|          Queens, NY| 0.4692989040684582|    6661.0|
|          Durham, NC| 0.4686042339433082|    2787.0|
|   San Francisco, CA| 0.4682200468771543|    7253.0|
|         Wichita, KS|0.46684894053315107|    1463.0|
|     Albuquerque, NM|0.46561679790026245|    1905.0|
|      Scottsdale, AZ|0.46560402684563756|    1192.0|
|Colorado Springs, CO| 0.4628975265017668|    1415.0|
|        Honolulu, HI|0.46175986842105265|    2432.0|
|           Omaha, NE|0.46070878274268107|    1947.0|
|      Sacramento, CA| 0.4584913611462284|    2373.0|
|  Salt Lake City, UT|0.45722108145106094|    1461.0|
|         Seattle, WA|0.45672118069405665|    5014.0|
|       Nashville, TN|0.45656101166037116|    6089.0|
|       Charlotte, NC| 0.4555908009516257|    5044.0|
|   St Petersburg, FL|0.45553359683794464|    1012.0|
|        Metairie, LA|  0.455437448896157|    1223.0|
|          Austin, TX| 0.4553475935828877|    7480.0|
|      Huntsville, AL|0.45454545454545453|    2134.0|
|        Brooklyn, NY| 0.4533450704225352|   10224.0|
|    Indianapolis, IN| 0.4527445315724309|    4846.0|
|     Jersey City, NJ|0.45139557266602504|    1039.0|
|          Denver, CO| 0.4503503261657405|    4139.0|
| Fort Lauderdale, FL|0.44979253112033196|    1205.0|
|        Savannah, GA|0.44720056697377747|    1411.0|
|           Plano, TX|0.44594594594594594|    1258.0|
|         Jackson, MS| 0.4456459874786568|    1757.0|
|         Norfolk, VA|0.44525801952580196|    2868.0|
|           Tampa, FL| 0.4414201183431953|    2535.0|
|         Detroit, MI| 0.4393939393939394|    2904.0|
|         Hampton, VA|             0.4376|    1250.0|
|         El Paso, TX|0.43593073593073595|    2310.0|
|       San Diego, CA| 0.4354263053536021|    7565.0|
|         Anaheim, CA|0.43473684210526314|    1900.0|
|          Denton, TX| 0.4337899543378995|    2190.0|
|        Columbus, OH|0.43354188921104836|    6553.0|
|         Chicago, IL| 0.4334057746041602|   16105.0|
|            Reno, NV|0.43243243243243246|    1517.0|
|         Oakland, CA|0.43242284498048955|    2819.0|
|           Bronx, NY| 0.4321880650994575|    4424.0|
|      Enterprise, NV| 0.4305785123966942|    1210.0|
|      Boca Raton, FL|0.42897998093422307|    1049.0|
|       Milwaukee, WI|0.42829827915869984|    2615.0|
|     New Orleans, LA|  0.426946933149552|    5804.0|
|          Dallas, TX|0.42624254473161033|    7545.0|
|       Las Vegas, NV| 0.4260485651214128|    4983.0|
|         St Paul, MN| 0.4253092293054234|    1051.0|
|     Los Angeles, CA|  0.424960403400459|   30937.0|
|            Mesa, AZ|0.42424242424242425|    1221.0|
|       Lafayette, LA| 0.4223300970873786|    1442.0|
|      Greensboro, NC| 0.4216082659478886|    4452.0|
|      Cincinnati, OH|0.42073454207345423|    2151.0|
|       Baltimore, MD| 0.4204332709280556|    3739.0|
|      University, FL| 0.4180478821362799|    1086.0|
|       Cleveland, OH| 0.4172787688002798|    2859.0|
|      San Marcos, TX|0.41685736079328756|    2622.0|
|         Houston, TX| 0.4153846153846154|   22230.0|
|       Henderson, NV|0.41536369816451396|    1471.0|
|         Lubbock, TX|  0.414704192992533|    1741.0|
|      Montgomery, AL|0.41426858513189446|    1668.0|
|       Ann Arbor, MI| 0.4141315014720314|    1019.0|
|          Tucson, AZ|0.41358490566037737|    2650.0|
|     San Antonio, TX| 0.4127709307267318|    9412.0|
|      Tuscaloosa, AL| 0.4126297577854671|    1156.0|
|      Fort Worth, TX| 0.4120563674321503|    3832.0|
|   Staten Island, NY| 0.4115151515151515|    1650.0|
| College Station, TX|0.41115702479338845|    1452.0|
|         Phoenix, AZ| 0.4107390834747724|    6481.0|
|     Tallahassee, FL| 0.4104395604395604|    3640.0|
|     Baton Rouge, LA| 0.4101966011329557|    3001.0|
|        San Jose, CA| 0.4090909090909091|    3454.0|
|          Toledo, OH|0.40841949778434267|    1354.0|
|          Irving, TX|0.40716180371352784|    1508.0|
|      Pittsburgh, PA|0.40688775510204084|    3136.0|
|    Philadelphia, PA|0.40684916324947357|    9023.0|
|        Beaumont, TX| 0.4066147859922179|    1028.0|
|      Birmingham, AL| 0.4048083170890188|    1539.0|
|           Akron, OH| 0.4039115646258503|    1176.0|
|          Irvine, CA|0.40164684354986274|    1093.0|
|  Virginia Beach, VA| 0.3975011568718186|    2161.0|
|          Fresno, CA|0.39734247749678525|    2333.0|
|      Long Beach, CA|0.39720129171151775|    2787.0|
|  Corpus Christi, TX| 0.3965631196298744|    1513.0|
|          Mobile, AL|0.39616402116402116|    1512.0|
|           Tempe, AZ|0.38693210821847884|    1959.0|
|       Arlington, TX|0.38401639344262295|    2440.0|
|           Tyler, TX| 0.3816287878787879|    1056.0|
|     Bakersfield, CA| 0.3732691149909693|    1661.0|
|        Portland, OR| 0.3671288929302114|    4399.0|
|    Prairie View, TX|  0.366412213740458|    1965.0|
|       Riverside, CA| 0.3484945547725817|    1561.0|
+--------------------+-------------------+----------+

In [51]:
# Ranking by averaging probabilities
df_ngram_cv_idf_gbt.groupBy('location').agg({'score': 'avg', 'count': 'sum'}).filter(col('sum(count)') > MIN_TWEETS_COUNT).sort('avg(score)', ascending=False).show(n=1000)

+--------------------+-------------------+----------+
|            location|         avg(score)|sum(count)|
+--------------------+-------------------+----------+
|           Miami, FL| 0.5012493508181272|    3588.0|
|       Knoxville, TN| 0.4976333926016323|    1788.0|
|         Wichita, KS| 0.4958093351229608|    1463.0|
|       Manhattan, NY|0.49526398279755673|   22752.0|
|         Raleigh, NC| 0.4939748036563767|    3007.0|
|         Memphis, TN| 0.4937799938588579|    3356.0|
|           Omaha, NE| 0.4937207780029819|    1947.0|
|        Paradise, NV| 0.4933984089190469|    3438.0|
|         Buffalo, NY| 0.4923418791605366|    1791.0|
|        Richmond, VA| 0.4923020475342615|    2288.0|
|           Plano, TX|0.49227573842741384|    1258.0|
|      Louisville, KY|0.49181196757278706|    1978.0|
|     Minneapolis, MN| 0.4914916397452657|    2864.0|
|     Kansas City, MO|0.49130222148605934|    2211.0|
|       Arlington, VA| 0.4912890865157912|    1635.0|
|         Orlando, FL| 0.4912599237681871|    2665.0|
|      Scottsdale, AZ| 0.4911442693120762|    1192.0|
|        Honolulu, HI| 0.4904051535206554|    2432.0|
|       Las Vegas, NV| 0.4902796832033652|    4983.0|
|     Albuquerque, NM|0.48993082501535173|    1905.0|
|         Atlanta, GA|0.48982689248616484|    9193.0|
|   Oklahoma City, OK| 0.4894203221755156|    3004.0|
|          Boston, MA|0.48938906208013594|    5413.0|
|        St Louis, MO|0.48936080147678407|    1406.0|
|          Durham, NC| 0.4890690414044774|    2787.0|
|          Newark, NJ|0.48885833572670956|    1376.0|
|   Winston-Salem, NC| 0.4888379862794385|    1334.0|
|      Washington, DC|0.48878931071547194|   10967.0|
|      Providence, RI|0.48871609871493443|    1114.0|
|    Indianapolis, IN|0.48861590435689733|    4846.0|
|           Tulsa, OK| 0.4885110824692295|    1292.0|
|  Salt Lake City, UT|0.48847170426784153|    1461.0|
|          Austin, TX| 0.4883525539415163|    7480.0|
|       Charlotte, NC| 0.4882535618967051|    5044.0|
| Fort Lauderdale, FL|  0.487788582289484|    1205.0|
|         Jackson, MS|0.48778032704200347|    1757.0|
|       Nashville, TN|0.48777664994760733|    6089.0|
|   San Francisco, CA|0.48766391575820145|    7253.0|
|Colorado Springs, CO| 0.4874029688653739|    1415.0|
|        Brooklyn, NY|0.48727013859941004|   10224.0|
|          Denver, CO| 0.4871712381761954|    4139.0|
|         Lubbock, TX| 0.4871095057601999|    1741.0|
|      San Marcos, TX|0.48705037328519457|    2622.0|
|          Tucson, AZ|0.48704187492664014|    2650.0|
|          Queens, NY|0.48702700780573666|    6661.0|
|         Hampton, VA| 0.4870241598293494|    1250.0|
|        Metairie, LA|  0.486969531163816|    1223.0|
|      Huntsville, AL| 0.4869183363608159|    2134.0|
|          Toledo, OH| 0.4868713465977264|    1354.0|
|          Denton, TX|0.48668185314166273|    2190.0|
|     Jersey City, NJ|0.48657087127801263|    1039.0|
|       San Diego, CA|  0.486311666667975|    7565.0|
|         El Paso, TX| 0.4863096506381759|    2310.0|
| College Station, TX| 0.4862451252147345|    1452.0|
|        Savannah, GA| 0.4859660030036446|    1411.0|
|      Sacramento, CA| 0.4858107287411317|    2373.0|
|         Seattle, WA| 0.4857082692609753|    5014.0|
|            Reno, NV|0.48564651873949927|    1517.0|
|            Mesa, AZ| 0.4855322978190495|    1221.0|
|       Henderson, NV| 0.4854966286293542|    1471.0|
|         Norfolk, VA|0.48545776221738945|    2868.0|
|     New Orleans, LA| 0.4853783693790407|    5804.0|
|     Los Angeles, CA|0.48507797394664653|   30937.0|
|          Irving, TX|0.48507522447564516|    1508.0|
|         Chicago, IL|  0.484999338978995|   16105.0|
|      Montgomery, AL|0.48467339107689766|    1668.0|
|      Enterprise, NV| 0.4846400491699519|    1210.0|
|         Detroit, MI|0.48458471906641326|    2904.0|
|         Oakland, CA|0.48456526160465657|    2819.0|
|       Milwaukee, WI| 0.4844956839421778|    2615.0|
|          Dallas, TX|0.48434285896808216|    7545.0|
|           Bronx, NY| 0.4841402275570194|    4424.0|
|         Houston, TX|0.48385073046094396|   22230.0|
|           Tampa, FL|0.48384528601552024|    2535.0|
|      Fort Worth, TX|0.48383212333042697|    3832.0|
|         Anaheim, CA| 0.4837522399577171|    1900.0|
|      Cincinnati, OH| 0.4837229499431134|    2151.0|
|       Lafayette, LA|0.48366884428449325|    1442.0|
|      Pittsburgh, PA| 0.4835707079005351|    3136.0|
|       Ann Arbor, MI| 0.4834991630991377|    1019.0|
|   St Petersburg, FL| 0.4834576987580869|    1012.0|
|           Akron, OH| 0.4833301330372263|    1176.0|
|        Columbus, OH|0.48256308700635697|    6553.0|
|     Baton Rouge, LA|0.48237993011886615|    3001.0|
|      Long Beach, CA| 0.4821269179111411|    2787.0|
|     San Antonio, TX|0.48206119749760984|    9412.0|
|      Greensboro, NC| 0.4820017016104432|    4452.0|
|           Tempe, AZ|0.48198949599555235|    1959.0|
|   Staten Island, NY|0.48191951885639894|    1650.0|
|         St Paul, MN|  0.481701338062805|    1051.0|
|      Boca Raton, FL| 0.4815883435328614|    1049.0|
|  Corpus Christi, TX| 0.4810258235672702|    1513.0|
|      Birmingham, AL| 0.4809457744013073|    1539.0|
|       Cleveland, OH| 0.4809284971008325|    2859.0|
|        Beaumont, TX|0.48051199651936394|    1028.0|
|          Fresno, CA| 0.4804604311278052|    2333.0|
|      Tuscaloosa, AL| 0.4804509948995897|    1156.0|
|         Phoenix, AZ|0.48043533506906194|    6481.0|
|       Baltimore, MD|0.48022498427197696|    3739.0|
|      University, FL| 0.4801889113171056|    1086.0|
|       Arlington, TX| 0.4800681311088925|    2440.0|
|          Irvine, CA|0.47940539923563735|    1093.0|
|           Tyler, TX| 0.4793440295437173|    1056.0|
|    Philadelphia, PA|0.47908921046089564|    9023.0|
|        San Jose, CA| 0.4788993135530784|    3454.0|
|     Tallahassee, FL| 0.4783648729788872|    3640.0|
|  Virginia Beach, VA|0.47804817671021516|    2161.0|
|    Prairie View, TX| 0.4775335173952493|    1965.0|
|          Mobile, AL| 0.4773272752244562|    1512.0|
|     Bakersfield, CA|0.47637407660031555|    1661.0|
|        Portland, OR|0.47569870093116146|    4399.0|
|       Riverside, CA| 0.4736912437511059|    1561.0|
+--------------------+-------------------+----------+

# Ranking Result of Linear SVM

In [33]:
lsvc_pipelineFit_loaded = PipelineModel.load("ngram_cv_idf_lsvc")

In [34]:
%%time
df_ngram_cv_idf_lsvc = lsvc_pipelineFit_loaded.transform(df_preprocessed)

df_ngram_cv_idf_lsvc = df_ngram_cv_idf_lsvc.withColumn("count", udf_count(col("text")))
df_ngram_cv_idf_lsvc = df_ngram_cv_idf_lsvc.withColumn("score", udf_extract_probability(df_ngram_cv_idf_lsvc.rawPrediction))

df_ngram_cv_idf_lsvc.cache()
df_ngram_cv_idf_lsvc.count()

CPU times: user 80 ms, sys: 10 ms, total: 90 ms
Wall time: 1min 23s

In [52]:
# Ranking by averaging 1/0 values
df_ngram_cv_idf_lsvc.groupBy('location').agg({'prediction': 'avg', 'count': 'sum'}).filter(col('sum(count)') > MIN_TWEETS_COUNT).sort('avg(prediction)', ascending=False).show(n=1000)

+--------------------+------------------+----------+
|            location|   avg(prediction)|sum(count)|
+--------------------+------------------+----------+
|       Manhattan, NY|0.7835355133614628|   22752.0|
|           Miami, FL|0.7803790412486065|    3588.0|
|      Scottsdale, AZ|0.7776845637583892|    1192.0|
|       Las Vegas, NV|0.7774433072446317|    4983.0|
|         St Paul, MN|0.7754519505233112|    1051.0|
|        St Louis, MO|0.7681365576102418|    1406.0|
|         Seattle, WA|0.7654567211806941|    5014.0|
|  Salt Lake City, UT|0.7624914442162902|    1461.0|
|       Arlington, VA|0.7620795107033639|    1635.0|
|     Minneapolis, MN|0.7618715083798883|    2864.0|
|          Boston, MA|0.7607611306114909|    5413.0|
|   San Francisco, CA|0.7555494278229699|    7253.0|
|   St Petersburg, FL|0.7519762845849802|    1012.0|
|        Brooklyn, NY|0.7517605633802817|   10224.0|
|       San Diego, CA| 0.751487111698612|    7565.0|
|          Queens, NY| 0.750187659510584|    6661.0|
|        Paradise, NV|0.7478184991273996|    3438.0|
|         Orlando, FL|0.7474671669793621|    2665.0|
|          Denver, CO| 0.747281952162358|    4139.0|
|      Enterprise, NV|0.7462809917355372|    1210.0|
| Fort Lauderdale, FL|0.7460580912863071|    1205.0|
|           Omaha, NE|0.7442218798151001|    1947.0|
|      Boca Raton, FL|0.7426120114394662|    1049.0|
|   Staten Island, NY|0.7424242424242424|    1650.0|
|Colorado Springs, CO|0.7406360424028269|    1415.0|
|      Louisville, KY|0.7401415571284126|    1978.0|
|       Knoxville, TN|0.7393736017897091|    1788.0|
|      Providence, RI|0.7387791741472173|    1114.0|
|      Washington, DC|0.7380322786541442|   10967.0|
|     Kansas City, MO|0.7340569877883311|    2211.0|
|     Los Angeles, CA|0.7310986844231826|   30937.0|
|         Wichita, KS|0.7306903622693096|    1463.0|
|         Raleigh, NC|0.7302959760558696|    3007.0|
|           Plano, TX|0.7297297297297297|    1258.0|
|       Charlotte, NC|0.7283901665344964|    5044.0|
|          Austin, TX|0.7271390374331551|    7480.0|
|        Honolulu, HI|0.7261513157894737|    2432.0|
|       Henderson, NV|0.7260367097212781|    1471.0|
|           Tulsa, OK|0.7260061919504643|    1292.0|
|         Chicago, IL|0.7259857187208941|   16105.0|
|         Oakland, CA|0.7247250798155375|    2819.0|
|           Bronx, NY|0.7246835443037974|    4424.0|
|          Newark, NJ| 0.720203488372093|    1376.0|
|         Memphis, TN|0.7196066746126341|    3356.0|
|         Anaheim, CA|0.7178947368421053|    1900.0|
|      Sacramento, CA|0.7172355667930889|    2373.0|
|      Birmingham, AL|0.7166991552956465|    1539.0|
|          Tucson, AZ|0.7162264150943396|    2650.0|
|            Reno, NV|0.7158866183256427|    1517.0|
|       Milwaukee, WI|0.7151051625239006|    2615.0|
|          Irving, TX|0.7141909814323607|    1508.0|
|         Buffalo, NY|0.7130094919039642|    1791.0|
|      Long Beach, CA|0.7129529960531037|    2787.0|
|    Indianapolis, IN|0.7127527858027239|    4846.0|
|         Phoenix, AZ|0.7110013886745873|    6481.0|
|       Ann Arbor, MI|0.7095191364082434|    1019.0|
|   Winston-Salem, NC|0.7091454272863568|    1334.0|
|     Jersey City, NJ|0.7074109720885466|    1039.0|
|        Richmond, VA|0.7049825174825175|    2288.0|
|           Tampa, FL|0.7045364891518737|    2535.0|
|   Oklahoma City, OK|0.7043941411451398|    3004.0|
|     Albuquerque, NM|0.7023622047244095|    1905.0|
|    Philadelphia, PA|0.7000997450958661|    9023.0|
|          Irvine, CA|0.6989935956084172|    1093.0|
|          Dallas, TX|0.6976805831676607|    7545.0|
|  Virginia Beach, VA|0.6964368347987043|    2161.0|
|       Nashville, TN|0.6955165051732632|    6089.0|
|            Mesa, AZ|0.6928746928746928|    1221.0|
|           Tempe, AZ|0.6906584992343032|    1959.0|
|      Cincinnati, OH|0.6894467689446769|    2151.0|
|        Columbus, OH|0.6868609797039524|    6553.0|
|        San Jose, CA|0.6835552982049797|    3454.0|
|           Tyler, TX|0.6827651515151515|    1056.0|
|         Atlanta, GA|0.6805177852714022|    9193.0|
| College Station, TX|0.6804407713498623|    1452.0|
|      University, FL|0.6795580110497238|    1086.0|
|      Fort Worth, TX|0.6792797494780793|    3832.0|
|      Pittsburgh, PA|0.6785714285714286|    3136.0|
|         Lubbock, TX|0.6743251005169443|    1741.0|
|         Detroit, MI|0.6742424242424242|    2904.0|
|       Lafayette, LA|0.6712898751733704|    1442.0|
|          Fresno, CA|0.6708101157308187|    2333.0|
|     Bakersfield, CA|0.6700782661047562|    1661.0|
|     New Orleans, LA|0.6690213645761544|    5804.0|
|       Arlington, TX|0.6684426229508197|    2440.0|
|     San Antonio, TX|0.6682957926051849|    9412.0|
|        Portland, OR|0.6667424414639691|    4399.0|
|          Denton, TX|0.6657534246575343|    2190.0|
|        Savannah, GA| 0.664776754075124|    1411.0|
|         Jackson, MS|0.6630620375640296|    1757.0|
|          Toledo, OH|0.6624815361890695|    1354.0|
|       Riverside, CA|0.6617552850736708|    1561.0|
|         Houston, TX|0.6614934772829509|   22230.0|
|       Baltimore, MD|0.6565926718373897|    3739.0|
|      Tuscaloosa, AL|0.6548442906574394|    1156.0|
|  Corpus Christi, TX|0.6543291473892928|    1513.0|
|        Metairie, LA|0.6541291905151267|    1223.0|
|       Cleveland, OH|0.6540748513466247|    2859.0|
|      Huntsville, AL|0.6527647610121837|    2134.0|
|      Montgomery, AL|0.6516786570743405|    1668.0|
|      San Marcos, TX|0.6506483600305111|    2622.0|
|         Norfolk, VA|0.6499302649930265|    2868.0|
|          Durham, NC|0.6487262289199857|    2787.0|
|          Mobile, AL|0.6468253968253969|    1512.0|
|         Hampton, VA|             0.644|    1250.0|
|     Baton Rouge, LA|0.6407864045318227|    3001.0|
|         El Paso, TX|0.6406926406926406|    2310.0|
|     Tallahassee, FL|0.6346153846153846|    3640.0|
|      Greensboro, NC|0.6264600179694519|    4452.0|
|        Beaumont, TX|0.6264591439688716|    1028.0|
|           Akron, OH|0.6062925170068028|    1176.0|
|    Prairie View, TX|0.6040712468193384|    1965.0|
+--------------------+------------------+----------+

In [53]:
# Ranking by averaging raw predictions
df_ngram_cv_idf_lsvc.groupBy('location').agg({'score': 'avg', 'count': 'sum'}).filter(col('sum(count)') > MIN_TWEETS_COUNT).sort('avg(score)', ascending=False).show(n=1000)

+--------------------+-------------------+----------+
|            location|         avg(score)|sum(count)|
+--------------------+-------------------+----------+
|       Arlington, VA| 1.3189516053170116|    1635.0|
|   St Petersburg, FL| 0.7464099254065003|    1012.0|
|       Knoxville, TN| 0.6969658877838982|    1788.0|
|        Paradise, NV| 0.6511372698943234|    3438.0|
|       Manhattan, NY| 0.6132942242113527|   22752.0|
|           Plano, TX| 0.6037554897779112|    1258.0|
|          Denver, CO| 0.5887711873748827|    4139.0|
|        St Louis, MO| 0.5849137914541248|    1406.0|
|         Seattle, WA| 0.5732369029386295|    5014.0|
|Colorado Springs, CO| 0.5712971027927639|    1415.0|
|         Phoenix, AZ| 0.5710574860645671|    6481.0|
|      Scottsdale, AZ| 0.5659615567966046|    1192.0|
|           Miami, FL| 0.5495396988709027|    3588.0|
|          Boston, MA| 0.5462772786045099|    5413.0|
|         Wichita, KS| 0.5447801365735983|    1463.0|
|         St Paul, MN| 0.5426079972796318|    1051.0|
|           Omaha, NE| 0.5358881133855217|    1947.0|
|     Kansas City, MO|  0.533475221182723|    2211.0|
|   San Francisco, CA|    0.5280232879306|    7253.0|
|  Salt Lake City, UT| 0.5181477745146219|    1461.0|
|        Brooklyn, NY| 0.5142516936193763|   10224.0|
|   Oklahoma City, OK|  0.506841492250709|    3004.0|
|     Minneapolis, MN| 0.5031221594344875|    2864.0|
|         Orlando, FL| 0.5012217884476056|    2665.0|
|         Chicago, IL| 0.5001171739158075|   16105.0|
|           Tulsa, OK| 0.4981578934861369|    1292.0|
|       Henderson, NV|0.49250582956132416|    1471.0|
|       San Diego, CA|0.48981094240879075|    7565.0|
|       Las Vegas, NV|0.48515794768165793|    4983.0|
|      Washington, DC|0.48023952403301123|   10967.0|
|         Raleigh, NC| 0.4790971590633267|    3007.0|
|      Louisville, KY|0.47680943446311513|    1978.0|
|     Los Angeles, CA| 0.4646987833278131|   30937.0|
|   Staten Island, NY| 0.4612815118911106|    1650.0|
|       Charlotte, NC|0.44886430831982305|    5044.0|
| Fort Lauderdale, FL| 0.4452718026475432|    1205.0|
|          Austin, TX| 0.4448174071618765|    7480.0|
|          Queens, NY| 0.4426203475678302|    6661.0|
|      Boca Raton, FL|0.44187942006470904|    1049.0|
|      Birmingham, AL| 0.4367532214619521|    1539.0|
|          Tucson, AZ| 0.4334870263603487|    2650.0|
|      Providence, RI| 0.4298620558566172|    1114.0|
|            Reno, NV| 0.4216421743448453|    1517.0|
|  Virginia Beach, VA| 0.4214258367600619|    2161.0|
|    Indianapolis, IN|0.41737015921923476|    4846.0|
|         Oakland, CA| 0.4173293134558029|    2819.0|
|      Enterprise, NV|0.40703740844365616|    1210.0|
|      Pittsburgh, PA|0.40629546264339456|    3136.0|
|      Sacramento, CA| 0.4051562945957861|    2373.0|
|       Ann Arbor, MI|0.40038888506168296|    1019.0|
|         Memphis, TN|0.39962037915665133|    3356.0|
|         Anaheim, CA| 0.3960693830579256|    1900.0|
|       Milwaukee, WI| 0.3918825244409754|    2615.0|
|        Honolulu, HI| 0.3863925087163939|    2432.0|
|       Nashville, TN|0.38241469710187687|    6089.0|
|          Newark, NJ|0.37998805203001873|    1376.0|
|        Richmond, VA|0.37730225896781955|    2288.0|
|     Albuquerque, NM|0.37709826675318703|    1905.0|
|      Cincinnati, OH|0.37221272426534485|    2151.0|
|     Jersey City, NJ| 0.3669201200563192|    1039.0|
|           Bronx, NY|0.36560903320485816|    4424.0|
|         Lubbock, TX| 0.3652458312500909|    1741.0|
|           Tampa, FL| 0.3635146252452118|    2535.0|
|          Dallas, TX|0.35771738987689977|    7545.0|
|        Portland, OR| 0.3556048638542012|    4399.0|
|   Winston-Salem, NC| 0.3531193669722346|    1334.0|
|      Long Beach, CA|0.34907965123230045|    2787.0|
|            Mesa, AZ| 0.3425598667671796|    1221.0|
|        Columbus, OH| 0.3395064767536663|    6553.0|
|           Tyler, TX| 0.3333278588180511|    1056.0|
|    Philadelphia, PA|0.33242250678245727|    9023.0|
|         Buffalo, NY| 0.3305437780288662|    1791.0|
|          Irving, TX|0.32718103334884624|    1508.0|
|      Fort Worth, TX| 0.3204333110885592|    3832.0|
|        Metairie, LA|0.31493992769263623|    1223.0|
|          Toledo, OH| 0.3130373243139296|    1354.0|
|         Atlanta, GA| 0.3088443519702658|    9193.0|
|     San Antonio, TX| 0.2986562503465044|    9412.0|
|          Irvine, CA|0.29609337825588977|    1093.0|
|     Bakersfield, CA|0.29082025054299393|    1661.0|
|        San Jose, CA| 0.2873917028306858|    3454.0|
|          Fresno, CA| 0.2857542181766815|    2333.0|
|         El Paso, TX| 0.2651738679307242|    2310.0|
|     New Orleans, LA|0.26444805209886485|    5804.0|
|           Tempe, AZ| 0.2634451110168724|    1959.0|
|         Jackson, MS| 0.2620804498378313|    1757.0|
|        Beaumont, TX| 0.2605649206100374|    1028.0|
| College Station, TX| 0.2582410085584864|    1452.0|
|          Denton, TX| 0.2552253583615861|    2190.0|
|       Arlington, TX|0.24960860971839552|    2440.0|
|         Detroit, MI|0.24895936660221535|    2904.0|
|       Baltimore, MD|0.24613251866501706|    3739.0|
|  Corpus Christi, TX|0.24159958832428002|    1513.0|
|      Tuscaloosa, AL|0.23889234849296376|    1156.0|
|      Huntsville, AL|0.23826083607138376|    2134.0|
|         Houston, TX|  0.233107668597584|   22230.0|
|       Lafayette, LA|0.23101594450033203|    1442.0|
|       Riverside, CA|0.22746881069680389|    1561.0|
|     Baton Rouge, LA|0.22660842623685062|    3001.0|
|      University, FL|  0.219992559438963|    1086.0|
|        Savannah, GA|0.21002015176998154|    1411.0|
|          Durham, NC|0.20607656733440644|    2787.0|
|         Norfolk, VA|0.20127083447308375|    2868.0|
|      Montgomery, AL|0.19696188580534335|    1668.0|
|       Cleveland, OH| 0.1928778625216736|    2859.0|
|          Mobile, AL|0.19278422425435218|    1512.0|
|      San Marcos, TX|0.18615213730289565|    2622.0|
|           Akron, OH| 0.1406650182836561|    1176.0|
|      Greensboro, NC|0.13604451563828246|    4452.0|
|         Hampton, VA|0.13221786424762286|    1250.0|
|     Tallahassee, FL|0.11234552892177735|    3640.0|
|    Prairie View, TX|0.05407100815359302|    1965.0|
+--------------------+-------------------+----------+